* {
    font-family: 'IBM Plex Sans', sans-serif;
}
html {
    scroll-behavior: smooth;
}

head {

}

body {

}

header {
    text-align: center;
}

.main-head {
    margin: ;
    border: ;
    padding: 0em
}

.main-head-text {
    color: #292727;
    font-size: 16pt;
}
