* {
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: #ebe9e4;
}

.block-centre {
    width: 64%;
    text-align: center;
    display: block;
    font-size: 12pt;
    font-weight: bold;
  
}

.nav-bar {

}
#profile-pic {
    border: 5px;
    border-radius: 150px;
    border-color: #ebe9e4;
    border-style: solid;
    position: absolute;
    left: 30px;
    top: 30px;
    box-shadow: 7px 7px 2px gray;
}

#github-img {
    border-radius: 150px;
    position: absolute;
    left: 55px;
    top: 185px;
    box-shadow: 7px 7px 2px gray;
}

#linkedin-img {
    border-radius: 150px;
    position: absolute;
    left: 55px;
    top: 285px;
    box-shadow: 5px 5px 2px gray;
}

.col-1 {
    width: 8.33%;
}
.col-2 {
    width: 16.66%;
}
.col-3 {
    width: 20%;  
}
.col-4 {
    width: 33.33%;
}
.col-45 {  
    width: 37.5%;
    padding: 20px 30px 10px 30px;
}
.col-9 {
    width: 75%;
}
.col-8 {
    width:66.64%;
}
.col-12 {
    width: 100%;
}
.row-1 {
    width: 100%;
    display: flex; flex-wrap: wrap;
}

.block-left {
    width: 32%;
    padding: 10px 10px 50px 20px;
}
.block-right {
    width: 32%;
    padding: 10px 20px 50px 10px;
}
.tech-img {
    
}
.core-img {

}
